<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Панель управления</title>
</head>
<body>
    <h1>Добро пожаловать, {{ user.username }}!</h1>
    <p>Это защищенная страница, доступная только авторизованным пользователям.</p>
    {% if user.role == 'vk_user' %}
        <img src="{{ url_for('static', filename='images/locked_image.jpg') }}" alt="Секретное изображение">
    {% endif %}
    <a href="{{ url_for('logout') }}">Выйти</a>
</body>
</html>